doctype
html
    head
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/site.css")
        title Photo Viewer
    body(ng-app='app')
        block main-content
        include scripts
